.profile-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 15px;
  height: 100%;
  border-radius: 25px;
}

.profile-img {
  width: 50px;
}

.profile-name {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 500;
  color: #6366f1;
}

.profile-bio {
  color: #475569;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.profile-loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.retry-btn {
  background-color: #6366f1;
  color: #f8fafc;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
}
