.not-found-bg-container {
    background-color: #000000;
    color: #f8fafc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .not-found-image {
    width: 300px;
  }
  