.job-item {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  background-color: #272727;
  border-radius: 15px;
  font-family: 'Roboto';
}

.responsive-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.job-item-header {
  display: flex;
  align-items: flex-start;
}

.job-item-img {
  width: 40px;
  margin-right: 20px;
}

.job-title {
  margin-top: 0;
  padding-top: 0;
  font-size: 18px;
}

.job-info-text {
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
  margin-right: 18px;
}

.job-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-package {
  font-size: 20px;
  font-weight: 400;
}

.job-body-heading {
  font-weight: 500;
  font-size: 18px;
}

.job-description {
  font-size: 14px;
  font-weight: 400;
}

hr {
  border-color: #64748b;
  border-width: 2px;
}

.job-item-link {
  text-decoration: none;
  color: #f1f5f9;
}

@media screen and (min-width: 768px) {
  .job-item-img {
    width: 80px;
  }

  .job-title {
    font-size: 22px;
  }

  .job-description {
    font-size: 16px;
  }
}
