.jobs-bg-container {
  min-height: 100vh;
  background-color: #121212;
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .jobs-bg-container {
    padding: 20px 20px 20px 50px;
  }
}
