.filter-bg-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.employment-type-list {
  padding: 0;
  list-style-type: none;
}

.employment-type-label {
  margin-left: 10px;
}

.employment-type-list-item {
  margin: 12px 0;
}

.filter-heading {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0;
}

hr {
  border-color: #64748b;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .filter-bg-container {
    max-width: 350px;
  }
}
