.header-container {
  background-color: #272727;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo {
  width: 110px;
}

.nav-icon-container {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav-list {
  display: none;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav-link {
  color: #f8fafc;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.logout-btn-mobile {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.logout-btn {
  background-color: #6366f1;
  color: #f8fafc;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  display: none;
}

@media screen and (min-width: 576px) {
  .nav-logo {
    width: 150px;
  }

  .nav-icon-container {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .nav-item {
    margin: 0 12px;
  }

  .logout-btn {
    display: inline;
  }
}
