.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.search-jobs-input {
  background-color: #121212;
  border: 1px solid #2c364c;
  color: #f8fafc;
  border-right: 0;
  font-size: 16px;
  outline: none;
  padding: 5px 10px;
  width: 100%;
}

.search-jobs-btn {
  background-color: #272727;
  border: 1px solid #2c364c;
  padding: 3px 15px;
  border-left: 0;
}

.job-list-container {
  width: 100%;
}

.jobs-list {
  padding: 0;
  list-style-type: none;
}

.loader-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop {
  display: none;
}

.mobile {
  width: 100%;
  margin-bottom: 20px;
}

.jobs-failure-button {
  background-color: #6366f1;
  color: #f8fafc;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.jobs-failure-img {
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

.jobs-failure-heading {
  font-size: 24px;
}

.jobs-error-view-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-jobs-img {
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

.no-jobs-heading {
  font-size: 24px;
}

.no-jobs-view {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .responsive-container {
    max-width: 1110px;
    flex-direction: row;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
    max-width: 400px;
  }
}
